@import "common/reset";
$top-height: 75px;
#app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    color: #fff;
    .header-view{
        position: fixed;
        top: 0;
        left: 0;
        height: $top-height;
        z-index: 1;
    }
    .wrap{
        width: 100%;
        max-width: $container-max-width;
        margin: auto;
    }
    .container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: $background-color;
    }
    .clear{
        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
}